flows.json
[
    {
        "id": "3f54427712bf2b84",
        "type": "tab",
        "label": "MQTT Levering og mottak",
        "disabled": false,
        "info": "her skal sensordataen komme inn",
        "env": []
    },
    {
        "id": "59eb797b865d4933",
        "type": "tab",
        "label": "HTTP",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "af4b63f7776061d2",
        "type": "tab",
        "label": "test",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ffaf32d3b2905d76",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.10.229",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "01acbed2d3ecc2db",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "8fa2ff0ef918eec0",
        "type": "http request",
        "z": "3f54427712bf2b84",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "01acbed2d3ecc2db",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 670,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "d8b9071a761745fa",
        "type": "mqtt in",
        "z": "3f54427712bf2b84",
        "name": "",
        "topic": "sensor/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ffaf32d3b2905d76",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 320,
        "wires": [
            [
                "62b0292813a4c26a",
                "74d485d3a7222690"
            ]
        ]
    },
    {
        "id": "2c81a8b911d9a04b",
        "type": "inject",
        "z": "3f54427712bf2b84",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"temperature\":25.5,\"humidity\":45.2,\"gas_resistance\":1000,\"pressure\":1012.3}",
        "payloadType": "json",
        "x": 170,
        "y": 80,
        "wires": [
            [
                "8c775f48e3eb3d73"
            ]
        ]
    },
    {
        "id": "8c775f48e3eb3d73",
        "type": "mqtt out",
        "z": "3f54427712bf2b84",
        "name": "",
        "topic": "sensor/data",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ffaf32d3b2905d76",
        "x": 370,
        "y": 80,
        "wires": []
    },
    {
        "id": "74d485d3a7222690",
        "type": "json",
        "z": "3f54427712bf2b84",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 410,
        "y": 320,
        "wires": [
            [
                "8fa2ff0ef918eec0",
                "b965b2b96b06e344"
            ]
        ]
    },
    {
        "id": "f2e6ace9dce71a44",
        "type": "comment",
        "z": "3f54427712bf2b84",
        "name": "<- for testing ",
        "info": "",
        "x": 610,
        "y": 80,
        "wires": []
    },
    {
        "id": "62b0292813a4c26a",
        "type": "debug",
        "z": "3f54427712bf2b84",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 240,
        "wires": []
    },
    {
        "id": "a46d6f9f1a3af3e3",
        "type": "comment",
        "z": "3f54427712bf2b84",
        "name": "Må configureres til api.",
        "info": "skal være post\n",
        "x": 940,
        "y": 320,
        "wires": []
    },
    {
        "id": "b965b2b96b06e344",
        "type": "debug",
        "z": "3f54427712bf2b84",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 240,
        "wires": []
    },
    {
        "id": "9030ef9094d928d7",
        "type": "mqtt in",
        "z": "3f54427712bf2b84",
        "name": "",
        "topic": "app/alarmtime",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ffaf32d3b2905d76",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 540,
        "wires": [
            [
                "6d8f6e56cdd454b2",
                "ad33babc78b0520b"
            ]
        ]
    },
    {
        "id": "6d8f6e56cdd454b2",
        "type": "debug",
        "z": "3f54427712bf2b84",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 460,
        "wires": []
    },
    {
        "id": "ad33babc78b0520b",
        "type": "function",
        "z": "3f54427712bf2b84",
        "name": "Function 1",
        "func": "// Hent meldingen (f.eks. \"16:20\")\nvar alarmTime = msg.payload;\n\n// Splitter \"hh:mm\" til timer og minutter\nvar parts = alarmTime.split(\":\");\nvar hours = parseInt(parts[0]);\nvar minutes = parseInt(parts[1]);\n\n// Konverter til millisekunder fra midnatt\nvar alarmMillis = (hours * 3600000) + (minutes * 60000);\n\n// Oppdater meldingen med den nye verdien i millisekunder\nmsg.payload = alarmMillis;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 540,
        "wires": [
            [
                "d6f14a56b7188a57",
                "c8ac98c5e73a0972"
            ]
        ]
    },
    {
        "id": "d6f14a56b7188a57",
        "type": "mqtt out",
        "z": "3f54427712bf2b84",
        "name": "",
        "topic": "esp32/alarmtime",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ffaf32d3b2905d76",
        "x": 690,
        "y": 540,
        "wires": []
    },
    {
        "id": "c8ac98c5e73a0972",
        "type": "debug",
        "z": "3f54427712bf2b84",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 460,
        "wires": []
    },
    {
        "id": "6ebf49c6abb3c183",
        "type": "comment",
        "z": "3f54427712bf2b84",
        "name": "<- fra app til esp32 alarmtid.",
        "info": "",
        "x": 1000,
        "y": 540,
        "wires": []
    },
    {
        "id": "3fd086636fa339c9",
        "type": "comment",
        "z": "3f54427712bf2b84",
        "name": "hente data fra Database til App.",
        "info": "MQTT signal fra app skal trigge en request\ntil serveren om å gi oss data fra databasen",
        "x": 950,
        "y": 820,
        "wires": []
    },
    {
        "id": "479cc5ee8e884e16",
        "type": "mqtt in",
        "z": "3f54427712bf2b84",
        "name": "",
        "topic": "app/alarmoff",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ffaf32d3b2905d76",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 680,
        "wires": [
            [
                "039bfd2302eba2be"
            ]
        ]
    },
    {
        "id": "039bfd2302eba2be",
        "type": "mqtt out",
        "z": "3f54427712bf2b84",
        "name": "",
        "topic": "esp32/alarmoff",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ffaf32d3b2905d76",
        "x": 340,
        "y": 680,
        "wires": []
    },
    {
        "id": "7fc315f777b16e33",
        "type": "comment",
        "z": "3f54427712bf2b84",
        "name": "Sku av alarm",
        "info": "",
        "x": 550,
        "y": 680,
        "wires": []
    },
    {
        "id": "83270f55aca45e33",
        "type": "mqtt in",
        "z": "3f54427712bf2b84",
        "name": "",
        "topic": "app/HistoryRequest",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ffaf32d3b2905d76",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 820,
        "wires": [
            [
                "9105a25878854182"
            ]
        ]
    },
    {
        "id": "9105a25878854182",
        "type": "http request",
        "z": "3f54427712bf2b84",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 410,
        "y": 820,
        "wires": [
            [
                "20854932c182343b"
            ]
        ]
    },
    {
        "id": "20854932c182343b",
        "type": "mqtt out",
        "z": "3f54427712bf2b84",
        "name": "",
        "topic": "app/history",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ffaf32d3b2905d76",
        "x": 710,
        "y": 820,
        "wires": []
    },
    {
        "id": "9db0693955aec9a7",
        "type": "http request",
        "z": "59eb797b865d4933",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "persist": false,
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 210,
        "y": 140,
        "wires": [
            [
                "65c8a71b82af6a7c"
            ]
        ]
    },
    {
        "id": "53b72e4b3e593fd0",
        "type": "comment",
        "z": "59eb797b865d4933",
        "name": "Hente data fra databasen ",
        "info": "Node-RED vil bruke en HTTP Request-node til å hente \nalarmtidspunktet fra en .NET-server som har lagret \ntidspunktet i en database.\nNår tidspunktet er hentet, \nkan det sendes videre til ESP32 via MQTT.",
        "x": 230,
        "y": 80,
        "wires": []
    },
    {
        "id": "65c8a71b82af6a7c",
        "type": "json",
        "z": "59eb797b865d4933",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 510,
        "y": 140,
        "wires": [
            [
                "b47415d1e57e8831"
            ]
        ]
    },
    {
        "id": "67b2dc3f68775527",
        "type": "comment",
        "z": "59eb797b865d4933",
        "name": "omgjøre til json",
        "info": "",
        "x": 520,
        "y": 80,
        "wires": []
    },
    {
        "id": "b47415d1e57e8831",
        "type": "mqtt out",
        "z": "59eb797b865d4933",
        "name": "",
        "topic": "esp32/alarmtime",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ffaf32d3b2905d76",
        "x": 790,
        "y": 140,
        "wires": []
    },
    {
        "id": "1df2aa4f5cc16441",
        "type": "inject",
        "z": "af4b63f7776061d2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hello world",
        "payloadType": "str",
        "x": 300,
        "y": 240,
        "wires": [
            [
                "9ddb9a29f3eb9168"
            ]
        ]
    },
    {
        "id": "bb79260c70df2b0d",
        "type": "debug",
        "z": "af4b63f7776061d2",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 240,
        "wires": []
    },
    {
        "id": "9ddb9a29f3eb9168",
        "type": "function",
        "z": "af4b63f7776061d2",
        "name": "function 1",
        "func": "var newString = msg.payload.replace(\"world\",\"from node red\");\nreturn { payload : newString};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 240,
        "wires": [
            [
                "bb79260c70df2b0d"
            ]
        ]
    },
    {
        "id": "e98a4d012cabc562",
        "type": "http in",
        "z": "af4b63f7776061d2",
        "name": "",
        "url": "/api/sensor-data",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 280,
        "y": 520,
        "wires": [
            [
                "78b37647e56edaab",
                "baf831f155bf721d"
            ]
        ]
    },
    {
        "id": "78b37647e56edaab",
        "type": "function",
        "z": "af4b63f7776061d2",
        "name": "function 3",
        "func": "// Simulerer sensordata som svar\nmsg.payload = {\n    temperature: 500,\n    humidity: 45.2,\n    gas_resistance: 1000,\n    pressure: 1012.3\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 520,
        "wires": [
            [
                "b2ed66efd24baa80",
                "3e9622a3a00fb408"
            ]
        ]
    },
    {
        "id": "baf831f155bf721d",
        "type": "debug",
        "z": "af4b63f7776061d2",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 420,
        "wires": []
    },
    {
        "id": "b2ed66efd24baa80",
        "type": "http response",
        "z": "af4b63f7776061d2",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 710,
        "y": 520,
        "wires": []
    },
    {
        "id": "3e9622a3a00fb408",
        "type": "debug",
        "z": "af4b63f7776061d2",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 420,
        "wires": []
    }
]
